/* Common Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 0;
    box-sizing: border-box;
}

.Heading {
    height: 150px;
}

.book-container {
    padding: 10px;

}

.book-box {
    width: auto;
    height: autox;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-box img {
    width: auto;
    height: auto;
    object-fit: fill;
    object-position: center;
    border-radius: 0px;
    transition: transform 0.3s linear;
}

.book-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.book-box .overlay p {
    margin: 5px;
    color: #333;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
}

.book-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-box:hover img {
    transform: scale(1.1);
}

.book-box:hover .overlay {
    opacity: 1;
}

/* Navigation Styles */
nav {
    width: 100%;
    max-width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    background-image: linear-gradient(to right, rgb(122, 35, 108), rgb(0, 0, 0));
    position: relative;
}

nav .logo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin: 0;
}

nav .menu-btn {
    display: block;
    float: right;
    padding: 20px;
    cursor: pointer;
}

nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

nav ul.show {
    display: flex;
}

nav li {
    text-align: center;
    margin: 15px 0;
}

nav a {
    text-decoration: none;
    color: white;
}
